@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 body,
 html {
  @apply h-full;
 }
}

.contain {
 margin: 0 auto;
 padding-left: 24px;
 padding-right: 24px;
 max-width: 1800px;
 @media screen and (min-width: 768px) {
  padding-left: 40px;
  padding-right: 40px;
 }
}

.contain-filter {
 margin: 0 auto;
 padding-left: 0px;
 padding-right: 0px;
 max-width: 1800px;
 @media screen and (min-width: 768px) {
  padding-left: 40px;
  padding-right: 40px;
 }
}

.custom-fraction-current {
 @apply absolute bottom-1 right-[34px] text-white px-4 py-1 rounded-xl tracking-widest text-xs font-bold z-10;
}
.custom-fraction-separator {
 @apply absolute bottom-1 right-[26px] text-white px-4 py-1 rounded-md tracking-widest text-xs font-bold bg-gray-900/60;
}
.custom-fraction-total {
 @apply absolute bottom-1 right-[14px] text-white px-4 py-1 rounded-xl tracking-widest text-xs font-bold z-10;
}
